// Colors
$primary-color:#1c879e;
$secondary-color:#71cfe4;
$warning-color:#dee471;
$danger-color:#e47171;
$success-color:#82e471;
$text-white-color:#e7fbff;
$text-black-color:#002128;

// Fonts
$logo-font:'Fascinate', cursive;
$general-font:'Roboto', sans-serif;

